[Unit]
Description=ConsulWatcher
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/node /srv/consulwatcher/index.js
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
